<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  {% include disclaimer.html %}

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>{{ site.title }}</h1>
      <p class="usa-font-lead">Let's build something amazing together.</p>
      <span class="usa-content" style="text-align: center; margin: 0 auto;">
        <p style="text-align: center; margin: 0 auto;">The Opportunity Project is an open data effort to improve economic mobility for all Americans. We're working together to put data and tools in the hands of civic leaders, community organizations, and families to help them navigate information about critical resources they need to thrive.</p>
      </span>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#connect">
        <i class="fa fa-connectdevelop ood-first"></i>
        <h2>Connect</h2>
        <p>Meet the community.</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#build">
        <i class="fa fa-code"></i>
        <h2>Build</h2>
        <p>Use data to improve lives.</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-question ood-last"></i>
        <h2>Learn More</h2>
        <p>What is this?</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
